@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    overflow: hidden;          /* hides anything outside */
    white-space: nowrap;       /* keep text on one line */
    text-overflow: "";   /* show "..." when truncated */
}

body {
    height: 100vh;

    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: #000;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    font-family: sans-serif;
}

#header_container {
    margin: 0;
    max-height: 10em;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: gainsboro;
}

#header_container > div {
    display: flex;
    gap: 5px;
}

#center_container {
    margin: 0px auto 10px;
    width: 99vw;
    height: 95%;

    display: flex;
    gap: 0px;
    flex-direction: row;

    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 5px;
}


div.centered {
    margin: auto;
}

ul {
    list-style: disc inside;
}